Jobs


<div  ng-controller="IndexController" >

  <accordion close-others="oneAtATime">

	<div  ng-repeat="job in jobs "> 	
	    <accordion-group heading={{job.name}}>
  	    	<piechart divname="test2" waits="job.steps"></piechart>
 	    
	    	<p>		{{job.description}} </p>
				<div id='steps' ng-repeat="step in job.steps" my-post-repeat-directive>
				<div></div>
					{{step.name}}-{{step.description}}
					<p>These wait on this step:</p>
					<div ng-repeat="wait in step.waiting_on">
						{{wait}}
					</div>
				</div>
				
			
	    </accordion-group>
	</div>
	</accordion>
	</div>

 
</div>






<script>



</script>
