


<div  ng-controller="IndexController" >

  <accordion close-others="oneAtATime">

	<div  ng-repeat="job in jobs "> 	
	    <accordion-group heading={{job.name}}--{{job.description}}>
	    
 	    	<jobchart divname="test2" waits="job.steps"></jobchart>
	    	<p>		{{job.description}} </p>
	    	
	    	  <div class="row" >
	    	  	 <div class="col-lg-4">
					<div   id='steps' ng-repeat="step in job.steps" my-post-repeat-directive>
					
						{{step.name}}-{{step.description}}
					</div>
				</div>
			 </div>
			 
	    	  <br/><br/>
	    	  
	    	  
	    	  
	    	  
	    	  <h4>Scheduling</h4>
 	    		<div  ng-controller="JobExecController" ng-init='jobstatus()'>
 	    		  
 	    		  <form ng-submit="jobschedule()" >
	 	    		<div class="row"  ng-init='jobschedule_details(job.yamlfile)'>
	 	    			<div class="col-lg-4">
			 	    		<input type="number" min="0" max="59" class="form-control" id="cronmin" placeholder="Minute" ng-model="cronminute" >Minute
			 	    	</div>
		    			<div class="col-lg-4">
			 	    		<input type="number" min="-1" max="23" class="form-control" id="cronhour" placeholder="Hour" ng-model="cronhour">Hour *   -1 means run each minute value
			 	    	</div>
	 	    			<div class="col-lg-4">
			 	    		<label>
							      <input type="checkbox" ng-model="cronrecurrs"  >Recurrs
							</label>
						</div>	    		 	 	    		
		 	    	</div>
		 	    	{{job.yamlfile}}
	 	    		 <div  class="checkbox" >
						    <label ng-hide="cronrecurrs">
						      <input type="checkbox" ng-model="crondays[0]" >Sunday
						    </label>	    		 
						    <label ng-hide="cronrecurrs">
						      <input type="checkbox" ng-model="crondays[1]">Monday
						    </label>
						    <label ng-hide="cronrecurrs">
						      <input type="checkbox" ng-model="crondays[2]">Tuesday
						    </label>
						    <label ng-hide="cronrecurrs">
						      <input type="checkbox" ng-model="crondays[3]">Wednesday
						    </label>
						    <label ng-hide="cronrecurrs">
						      <input type="checkbox" ng-model="crondays[4]">Thursday
						    </label>
						    <label ng-hide="cronrecurrs">
						      <input type="checkbox" ng-model="crondays[5]">Friday
						    </label>
						    <label ng-hide="cronrecurrs">
						      <input type="checkbox" ng-model="crondays[6]">Saturday
						    </label>
						    
						  </div>
	  	    			<button type="button" ng-click="jobschedule(job.yamlfile)" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
		    			Schedule
		    			</button>
					 </form> 
				 	<br/>	
  	    			<button type="button" ng-click="jobexec(job.yamlfile)" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
	    			Start
	    			</button>
	    			{{job.yamlfile}}
	    			  <div class="col-lg-8" >
 						<div ng-repeat="stat in status">
 							<div ng-if="stat.state == 'STARTED' && stat.args.substring(3,stat.args.indexOf(')')-2) == job.yamlfile">  	
 	 						<div ng-model="jobdetail" ng-repeat="jobd in jobdetails">
	
	 								
	 								<p>{{jobd}}</p>
	 					
	 						</div>

 								
 								<p>RUNNING</p>
 							
 							</div>
 						</div>
 					  </div>
 				</div>
			 </div>
			<div ng-controller="ButtonsCtrl">
	    </accordion-group>
	</div>
	</accordion>
	</div>

 
</div>


 



<script>



</script>
