


<div  ng-controller="IndexController" >

  <accordion close-others="oneAtATime">

	<div  ng-repeat="job in jobs "> 	
	    <accordion-group heading={{job.name}}--{{job.description}}>
  	    	<piechart divname="test2" waits="job.steps"></piechart>
 	    		<div  ng-controller="JobExecController" ng-init='jobstatus()'>
 	     			
	    			<button type="button" ng-click="jobexec(job.yamlfile)" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
	    			Start
	    			</button>
	    			{{job.yamlfile}}
 						<div ng-repeat="stat in status">
 							<div ng-if="stat.state == 'STARTED' && stat.args.substring(3,stat.args.indexOf(')')-2) == job.yamlfile">  	

 								
 								<p>RUNNING</p>
 							</div>
 						</div>
 				</div>
	    	<p>		{{job.description}} </p>
				<div id='steps' ng-repeat="step in job.steps" my-post-repeat-directive>
				<div></div>
					{{step.name}}-{{step.description}}
				</div>
			<div ng-controller="ButtonsCtrl">
	    </accordion-group>
	</div>
	</accordion>
	</div>

 
</div>


 



<script>



</script>
