


<div  ng-controller="IndexController" >

	  	    			<button type="button" ng-click="restart_schedule()" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
		    			Restart
                                      </button>
</div>
