<h1>Database Automation Scripts</h1>

<div ng-controller="AsimovController">
	 <button type="button" ng-click="executedb()" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
	 Exec
	 </button>
	 <div ng-repeat="notice in notices">
	 	{{notice}}
	 </div>
</div>
